
div.movieinfo_img {
  height: 500px;
  overflow: hidden;
}
span.released {
  display: block;
  text-align: right;
  font-size: 18px;
}
div.intromovie {
  padding: 20px;
  display: flex;
  justify-content: center;
}
div.intromovie_left {
  padding-right: 20px;
}
div.intromovie_right {
  padding-right: 20px;
}

div.movie_detail ul{
  display: flex;
}
div.movie_detail ul li{
  padding: 5px;
  text-align: left;
  font-size: 18px;
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 120px);
}

div.movie_detail ul li:first-child {
  width: 100px;
}
 

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  }
  .video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  width: 90%;
  height: 90%;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.movie_story {
  margin: 0 auto;
  width: 80%;
}

div.schedule {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
}
div.time_table  {
  margin-top: 10px;
  font-size: 18px; 
  display: flex;
  align-self: center;
}
div.time_table table tr th, td {
  width:100px;
  height:40px;
  line-height: 40px;
  text-align: center;
}





@media (min-width: 375px) and (max-width: 950px){


  div.movieinfo_img {
    height: auto;
    overflow: hidden;
  }
  div.movieinfo h2 {
    margin: 0;
  }
  div.movieinfo h3 {
    font-size: 18px;
  }

  div.intromovie {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  div.movie_detail ul{
    display: flex;
    /* flex-direction: column; */
  }
 

  div.time_table {
    /* width: 90%; */
    overflow-x: auto;
    border: 1px solid white;
  }
  div.time_table table tr th, td {
    min-width:100px;
   
  }

 
} 