div.schedule_content {
  width: 100%;
  div.schedule {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
    justify-content: space-around;
    /*margin-bottom: 20px;*/
    div.schedule_left {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    div.schedule_right {
      width:70%;
      display: flex;
      flex-direction: column;
      div.sub_content {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-bottom: 10px;
      }
      div.time_table  {
        margin-top: 10px;
        font-size: 18px; 
        display: flex;
        align-self: center;
        table tr th, td {
          width:150px;
          height:40px;
          line-height: 40px;
          text-align: center;
        }
      }
    }
  }
  .blue {
    background-color: rgba(8, 37, 103,1);
    color:white;;
  }
  .white {
    background-color: white;
    color: rgba(8, 37, 103,1);
  }
}
@media (min-width: 375px) and (max-width: 950px){  
  div.schedule_content {
    div.schedule {
      display: flex;
      width: 100%;
      justify-content: space-around;
      flex-direction: column;
      div.schedule_left {
        display: flex;
        align-items: center;
        margin: 0 auto;
        div.postimg {
          min-width: 200px;
        }
      }
      div.schedule_right {
        width: 98%;
        display: flex;
        margin: 0 auto;
        h2 {
          text-align: center;
        }
        div.sub_content {
          h3 {
            font-size: 18px;
          }
          div.movieinfo_b {
            align-self: center;   
        }   
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-bottom: 10px;
          
        }
        div.time_table {
          width: 90%;
          overflow-x: auto;
          table tr th, td {
            min-width:100px;     
          }
        }
      }
    }   
  }
} 