/*--GLOBAL---*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700,900|Noto+Serif+TC&display=swap&subset=chinese-traditional");
/*---FOOTER---*/
footer.footer_bg {
  width: 100%;
  height: 200px;
  text-align: center;
  background-color: rgba(239, 238, 237, 0.9);
  color: #082567;
}

footer.footer_bg div.footer {
  display: table;
  margin: 0 auto;
}

footer.footer_bg div.footer div.footer_col {
  display: table-cell;
  padding: 20px;
  width: 50%;
  text-align: left;
}

footer.footer_bg div.footer div.footer_col span {
  margin-bottom: 10px;
  display: block;
  font-size: 16px;
}

footer.footer_bg div.footer div.footer_col div.icon_img {
  padding-top: 15px;
}

footer.footer_bg div.footer div.footer_col div.icon_img img {
  width: 30px;
  margin: 5px 20px 5px 0;
}

footer.footer_bg div.footer div.footer_col input {
  border-style: none;
  padding: 5px 10px;
  width: 240px;
  height: 50px;
  font-size: 18px;
}

footer.footer_bg img.logo {
  display: none;
}

footer.footer_bg p.footer_p {
  margin: 10px;
  padding: 0;
}

@media (min-width: 375px) and (max-width: 950px) {
  footer.footer_bg div.footer {
    display: none;
  }
  footer.footer_bg img.logo {
    margin: 0 auto;
    width: 160px;
    display: block;
  }
  footer.footer_bg p {
    margin: 0;
    padding: 0;
    line-height: 30px;
  }
}

/*---RESET---*/
* {
  text-decoration: none;
  font-family: Arial, 'Noto Sans TC','Noto Serif TC';
}

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

div.main_body {
  width: 100%;
  margin: 0 auto;
}

div.sub_body {
  min-width: 950px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

img {
  width: 100%;
}

main {
  width: 100%;
  padding-top: 100px;
}

iframe {
  width: 100%;
}

input, button:focus {
  outline: none;
}

ol li {
  margin-left: 30px;
}

ul, ol {
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  list-style: none;
}

h1 {
  font-size: 30px;
  color: #2b4448;
}

h2 {
  padding: 10px;
  font-size: 24px;
}

h3 {
  margin: 0;
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
}

p {
  padding: 10px;
  font-size: 16px;
  line-height: 35px;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

input {
  font-size: 16px;
}

textarea {
  font-size: 16px;
  width: 300px;
  resize: none;
}

a:visited {
  color: black;
}

div.main_button {
  position: absolute;
  top: 70%;
  left: 50%;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  font-size: 40px;
  transform: translate(-50%, -50%);
}

div.main_button a {
  text-align: center;
  display: block;
  font-weight: bold;
  color: white;
  padding: 10px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  border: 10px solid white;
}

div.button_type1 {
  display: inline-block;
  margin: 5px;
  padding: 5px 30px;
  background-color: rgba(242, 165, 196, 0.8);
  color: white;
  font-size: 18px;
  border-style: none;
}

.button_type2 {
  width: 100px;
  height: 50px;
  background-color: #082567;
  border: 1px solid white;
  color: white;
  padding: 10px;
  margin: 10px 30px;
}

.link-right {
  border-right: solid #ACC0D8 1px;
}

/*---HEADER---*/
header.header {
  position: relative;
  vertical-align: top;
  font-size: 0px;
  z-index: 5;
}

header.header div.banner_img {
  margin: 0px auto;
  overflow: hidden;
  padding-top: 50%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/slider/littlewoman.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  /*contain  cover*/
  background-attachment: fixed;
  position: relative;
}

/*---NAV---*/
nav.nav_bg {
  width: 100%;
  background-color: rgba(239, 238, 237, 0.9);
  position: absolute;
  bottom: 0px;
}

.sticky {
  margin: 0;
  width: 100%;
  background-color: rgba(239, 238, 237, 0.9);
  position: fixed;
  left: 0;
  top: 0;
}

.sticky_pt {
  padding-top: 80px;
}

div.nav {
  height: 80px;
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

div.nav_left img.logo {
  width: 160px;
}

div.nav_right {
  align-items: right;
  display: flex;
  align-items: flex-end;
}

div.nav_right ul li a {
  line-height: 75px;
  width: 100px;
  text-align: center;
  font-size: 20px;
}

div.nav_right ul li a::after {
  content: '';
  display: block;
  width: 0;
  height: 5px;
  margin: 0 auto;
  background: #082566;
  transition: width .3s;
}

div.nav_right ul li a:hover::after {
  width: 100%;
}

div.nav_right ul li a:hover {
  color: #F2A5C4;
}

div.nav_right ul li a.localhtml {
  color: #388488;
}

#panel {
  padding: 50px;
  display: none;
  text-align: center;
}

#panel a {
  font-size: 24px;
  padding: 10px;
  display: block;
}

/*---CONTENT---*/
div.index_content {
  overflow: hidden;
  background-image: -webkit-linear-gradient(rgba(244, 244, 244, 0.4), rgba(244, 244, 244, 0.4)), url("../img/background_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tag-now {
  filter: none;
}

.no-block {
  display: none;
}

div.title {
  text-align: center;
}

div.hotmovies {
  display: flex;
  justify-content: left;
  flex-wrap: nowrap;
  padding: 20px;
}

div.postimg {
  width: 200px;
  height: 280px;
  font-size: 0;
  margin: 20px;
  overflow: hidden;
}

div.tag {
  filter: sepia(0.9) brightness(70%);
  cursor: pointer;
}

div.postimg:hover {
  filter: sepia(0) brightness(100%);
}

div.moviecontent {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
}

div.moviecontent p.content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  height: 100px;
}

div.movieinfo_b {
  align-self: flex-end;
  margin-right: 20px;
  width: 100px;
  text-align: center;
}

div.info {
  display: flex;
}

div.info_div {
  width: 45%;
  padding: 30px;
  display: flex;
}

div.outer {
  margin: 20px auto;
  border: 3px solid #f3cdcd;
  width: 80%;
}

div.inner {
  border: 3px solid #c9c7c7;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  transform: translate3d(15px, 15px, 0px);
}

div.news {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0;
}

div.date {
  font-size: 40px;
  color: #ed8978;
}

div.monthnyear {
  font-size: 14px;
  color: #8a8a8a;
}

div.news a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 5px auto;
  line-height: 50px;
  flex: 1;
  color: #757575;
  text-align: right;
}

div.news .more a {
  text-align: right;
  cursor: pointer;
}

img.iconstyle {
  width: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

a.contact {
  display: inline-block;
  margin-bottom: 11px;
  color: #797979;
  font-size: 14px;
  line-height: 29px;
}

div.iframe {
  width: 90%;
}

/*--rwd--*/
button.hamburger {
  display: none;
}

@media (min-width: 375px) and (max-width: 950px) {
  div.sub_body {
    width: 100%;
    min-width: 375px;
    max-width: 950px;
    /* margin-top: 80px; */
  }
  div.index_content {
    overflow: hidden;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  div.nav_right ul {
    display: none;
  }
  button.hamburger {
    display: block;
  }
  header.header {
    width: 100%;
    min-width: 375px;
    max-width: 950px;
    padding-top: 80px;
  }
  header.header div.banner_img {
    background-attachment: scroll;
    background-size: cover;
    /*contain*/
  }
  div.main_button {
    display: none;
  }
  div.index_content {
    width: 100%;
  }
  div.hotmovies {
    overflow-x: scroll;
    justify-content: center;
    display: block;
    padding: 10px;
    white-space: nowrap;
  }
  .hotmovies::-webkit-scrollbar {
    display: none;
  }
  div.postimg {
    min-width: 140px;
    min-height: 200px;
    font-size: 0;
    margin: 10px;
    overflow: hidden;
    display: inline-block;
  }
  div.moviecontent {
    min-width: 80%;
  }
  div.info {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  div.info_div {
    width: 100%;
    padding: 0px;
  }
  .collapsible {
    font-size: 14px;
  }
}

iframe {
  width: 100%;
}

div.sub_nav {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

div.sub_nav h3 {
  width: 150px;
  text-align: center;
}

h3.subtitle {
  margin-top: 30px;
  text-align: center;
  padding-top: 80px;
}

div.info_news {
  display: felx;
  flex-direction: row;
  width: 70%;
  margin: 0 auto;
}

div.info_news div.info_news_title {
  display: flex;
  flex-direction: column;
  color: #757575;
}

div.info_news div.info_news_title .collapsible {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  outline: none;
}

div.info_news div.info_news_title .collapsible div.time {
  width: 70px;
}

div.info_news div.info_news_title .collapsible > div:nth-child(2) {
  padding-left: 10px;
  line-height: 25px;
  width: calc(100% - 70px);
  text-align: left;
}

div.info_news div.info_news_title .active, div.info_news div.info_news_title .collapsible:hover {
  background-color: #005858;
  color: #fff;
}

div.info_news div.info_news_title .content {
  line-height: 30px;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

div.info_news div.info_news_title .content p {
  line-height: 30px;
  margin: 0 auto;
  width: 80%;
}

div.store_info {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  padding: 20px;
  margin: 20px auto;
}

div.store_info div.store_info_left {
  margin: 0;
  width: 20%;
}

div.store_info div.store_info_center {
  width: 30%;
  position: relative;
  left: 100px;
  clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
  margin: 0;
}

div.store_info div.store_info_right {
  width: 30%;
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
  margin: 0;
}

div.store_info div.store_info_right img {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

@media (min-width: 375px) and (max-width: 950px) {
  div.store_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  div.store_info div.store_info_left {
    margin: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  div.store_info div.store_info_center {
    width: 70%;
    clip-path: polygon(0 0px, 0 500px, 700px 700px, 700px 0);
    position: static;
    margin: 10px auto;
  }
  div.store_info div.store_info_right {
    width: 70%;
    clip-path: polygon(0 0px, 0 500px, 700px 700px, 700px 0);
    margin: 10px auto;
  }
  div.store_info div.store_info_right img {
    width: 100%;
  }
}

div.sub_nav {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

div.sub_nav h3 {
  width: 150px;
  text-align: center;
}

div.movie_wall_hot {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  background: white;
}

div.movie_wall_hot div.movie_div {
  margin: 0 auto;
  padding: 10px;
  width: 90%;
  height: 550px;
  border: 1px solid #b5b5b5;
  box-shadow: 5px 5px 5px #c3c3c3;
  text-align: center;
}

div.movie_wall_hot div.movie_div div.postimg {
  margin: 10px auto;
}

div.movie_wall_hot div.movie_div div.subtitle {
  font-size: 14px;
  color: #999;
}

div.movie_wall_hot div.movie_div div.content {
  font-size: 14px;
  color: #777;
  margin-top: 5px;
  width: 95%;
  text-align: left;
}

div.movie_wall_coming {
  margin: 40px;
}

div.movie_wall_coming div.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 4px;
}

div.movie_wall_coming div.row div.column {
  flex: 24%;
  max-width: 24%;
  padding: 0 4px;
  flex-direction: column;
  justify-content: space-around;
  /* border: 1px solid red; */
}

div.movie_wall_coming div.row div.column div.r {
  position: relative;
}

div.movie_wall_coming div.row div.column div.r img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

div.movie_wall_coming div.row div.column div.r .overlay {
  box-sizing: border-box;
  position: absolute;
  top: 8px;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  opacity: 1;
}

@media (min-width: 375px) and (max-width: 950px) {
  div.movie_wall_hot div.movie_div title h3 {
    font-size: 18px;
  }
  div.movie_wall_coming div.row {
    align-items: baseline;
  }
  div.movie_wall_coming div.row div.column {
    flex: 45%;
    max-width: 45%;
  }
  div.movie_wall_coming div.row div.column div.r .overlay {
    font-size: 16px;
    padding: 5px;
  }
}

div.movieinfo_img {
  height: 500px;
  overflow: hidden;
}

span.released {
  display: block;
  text-align: right;
  font-size: 18px;
}

div.intromovie {
  padding: 20px;
  display: flex;
  justify-content: center;
}

div.intromovie_left {
  padding-right: 20px;
}

div.intromovie_right {
  padding-right: 20px;
}

div.movie_detail ul {
  display: flex;
}

div.movie_detail ul li {
  padding: 5px;
  text-align: left;
  font-size: 18px;
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 120px);
}

div.movie_detail ul li:first-child {
  width: 100px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.movie_story {
  margin: 0 auto;
  width: 80%;
}

div.schedule {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
}

div.time_table {
  margin-top: 10px;
  font-size: 18px;
  display: flex;
  align-self: center;
}

div.time_table table tr th, td {
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

@media (min-width: 375px) and (max-width: 950px) {
  div.movieinfo_img {
    height: auto;
    overflow: hidden;
  }
  div.movieinfo h2 {
    margin: 0;
  }
  div.movieinfo h3 {
    font-size: 18px;
  }
  div.intromovie {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  div.movie_detail ul {
    display: flex;
    /* flex-direction: column; */
  }
  div.time_table {
    /* width: 90%; */
    overflow-x: auto;
    border: 1px solid white;
  }
  div.time_table table tr th, td {
    min-width: 100px;
  }
}

/*--Radio Button--*/
.container {
  /*display: inline-block;*/
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #082567;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/*--Radio_Button_END--*/
label, input {
  display: inline-block;
}

div.activity {
  display: flex;
  width: 100%;
}

div.activity div.item {
  padding: 20px;
  flex: 1 2 100%;
}

div.activity div.item h2 {
  text-align: center;
}

div.activity div.item form {
  margin: 0 auto;
  padding: 10px;
}

div.activity div.item form div.form {
  display: flex;
  flex-direction: column;
}

div.activity div.item form div.form div.formgap {
  margin: 5px;
  display: inline-flex;
  align-self: center;
  width: 300px;
}

div.activity div.item form div.form div.formgap span.titleforrent {
  font-size: 18px;
  height: 40px;
  display: inline-block;
  width: 120px;
  vertical-align: top;
}

div.activity div.item form div.form div.formgap span + input {
  height: 40px;
  width: 300px;
  align-self: center;
}

div.activity div.item form div.form div.formgap label select {
  width: 300px;
  height: 50px;
}

div.activity div.item form div.form div.formgap label textarea {
  width: 300px;
  resize: none;
}

div.activity div.item div.divforspace {
  width: 95%;
  margin: 0 auto;
}

div.activity div.item div.divforspace img {
  width: 100%;
}

div.activity div.item div.pricetable {
  width: 95%;
  margin: 0 auto;
}

div.activity div.item div.pricetable table {
  border-collapse: collapse;
  margin: 20px auto;
}

div.activity div.item div.pricetable table tr td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

div.activity div.item div.button_position {
  display: flex;
  justify-content: center;
}

@media (min-width: 375px) and (max-width: 950px) {
  div.activity {
    flex-direction: column;
  }
  div.activity div.item {
    padding: 0px;
  }
  div.activity div.item form {
    width: 80%;
  }
  div.activity div.item form div.form div.formgap label span + input {
    width: 100%;
  }
  div.activity div.item form div.form div.formgap label textarea {
    width: 100%;
  }
  div.activity .link-right {
    border-right: none;
  }
}

/*Custom-Select*/
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  background-color: #005858;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 12px;
  right: 3px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 6px;
}

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
  color: #ffffff;
  padding: 5px 5px 5px 0;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #005858;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/*Custom-Select-End*/
* {
  box-sizing: border-box;
}

h3 {
  background-color: #082567;
  color: white;
  text-align: left;
}

main ul, main ol {
  flex-direction: column;
}

main div.ticket_system {
  display: table;
  width: 100%;
}

main div.ticket_system div.col {
  display: table-cell;
  padding: 16px;
}

main div.ticket_system div.movietitle {
  width: 20%;
}

main div.ticket_system div.timeofmovie {
  width: 20%;
}

main div.ticket_system div.check {
  width: 40%;
}

ol li {
  margin-left: 20px;
}

div.rule_t p {
  background-color: #005858;
  color: white;
  line-height: 30px;
  padding-left: 10px;
}

div.rule_t p:hover {
  color: brightness(0.6);
}

div.ulstyle div {
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 5px;
  font-size: 16px;
}

.closed .accordionItemContent {
  height: 0px;
  transition: height 1s ease-out;
  transform: scaleY(0);
}

.open .accordionItemContent {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.4s ease;
}

div.check div.section {
  background-color: #e6e6e6;
  line-height: 20px;
  display: flex;
}

div.check div.section div {
  display: inline-block;
  padding: 5px;
}

div.check div.section div:first-child {
  width: 100px;
}

div.payment {
  background-color: #f6f6f6;
}

div.payment span {
  display: block;
  padding: 5px;
}

div#open_modal {
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
  padding: 5px;
  transition: 0.3s;
}

div#open_modal:hover {
  opacity: 0.7;
}

/* The Modal (background) */
div.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 7;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
  height: 100vh;
  /* The Close Button */
  /* Modal Content */
}

div.modal .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

div.modal .close:hover, div.modal .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

div.modal .modal-content {
  margin: 0 auto 50px;
  display: block;
  width: 80%;
  max-width: 700px;
  /* padding-bottom: 150px;  */
}

/* Modal Content */
/* Add Animation */
.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

div.payment table {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

table tr td {
  padding: 5px;
}

div.payment table td:first-child {
  text-align: left;
}

div.payment table td:last-child {
  text-align: right;
}

div.payment div.button {
  display: flex;
  justify-content: center;
}

div.ticket_rule {
  width: 50%;
  margin: 20px auto;
  background-color: #e4e4e4;
  line-height: 30px;
  font-size: 16px;
  overflow-y: scroll !important;
  height: 90%;
}

div.ticket_rule div.first_rule {
  padding: 10px;
}

@media (min-width: 375px) and (max-width: 950px) {
  div.ticket_system {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    align-items: center;
    /* border: 1px solid red; */
  }
  div.col {
    display: block;
    width: 95%;
    padding: 5px;
  }
  div.ticket_rule {
    width: 95%;
  }
  .modal-content {
    width: 100%;
  }
}

/*Custom-Select*/
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  background-color: #005858;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 12px;
  right: 3px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 6px;
}

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
  color: #ffffff;
  padding: 5px 5px 5px 0;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #005858;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/*Custom-Select-End*/
div.schedule_content {
  width: 100%;
}

div.schedule_content div.schedule {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
  justify-content: space-around;
  /*margin-bottom: 20px;*/
}

div.schedule_content div.schedule div.schedule_left {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.schedule_content div.schedule div.schedule_right {
  width: 70%;
  display: flex;
  flex-direction: column;
}

div.schedule_content div.schedule div.schedule_right div.sub_content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 10px;
}

div.schedule_content div.schedule div.schedule_right div.time_table {
  margin-top: 10px;
  font-size: 18px;
  display: flex;
  align-self: center;
}

div.schedule_content div.schedule div.schedule_right div.time_table table tr th, div.schedule_content div.schedule div.schedule_right div.time_table td {
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

div.schedule_content .blue {
  background-color: #082567;
  color: white;
}

div.schedule_content .white {
  background-color: white;
  color: #082567;
}

@media (min-width: 375px) and (max-width: 950px) {
  div.schedule_content div.schedule {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
  }
  div.schedule_content div.schedule div.schedule_left {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  div.schedule_content div.schedule div.schedule_left div.postimg {
    min-width: 200px;
  }
  div.schedule_content div.schedule div.schedule_right {
    width: 98%;
    display: flex;
    margin: 0 auto;
  }
  div.schedule_content div.schedule div.schedule_right h2 {
    text-align: center;
  }
  div.schedule_content div.schedule div.schedule_right div.sub_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }
  div.schedule_content div.schedule div.schedule_right div.sub_content h3 {
    font-size: 18px;
  }
  div.schedule_content div.schedule div.schedule_right div.sub_content div.movieinfo_b {
    align-self: center;
  }
  div.schedule_content div.schedule div.schedule_right div.time_table {
    width: 90%;
    overflow-x: auto;
  }
  div.schedule_content div.schedule div.schedule_right div.time_table table tr th, div.schedule_content div.schedule div.schedule_right div.time_table td {
    min-width: 100px;
  }
}
/*# sourceMappingURL=style.css.map */