/*---FOOTER---*/
footer.footer_bg {
  width: 100%;
  height:200px;
  text-align: center;
  background-color: rgba(239, 238, 237,.9);
  color: rgba(8, 37, 103,1);
  div.footer {
    display: table;
    margin: 0 auto;
    div.footer_col {
      display: table-cell;
      padding: 20px;
      width: 50%;
      text-align: left;
      span {
        margin-bottom: 10px;
        display: block;
        font-size: 16px;
      }
      div.icon_img {
        padding-top: 15px;
        img {
          width: 30px;
          margin: 5px 20px 5px 0;
        }
      }
      input {
        border-style: none;
        padding: 5px 10px;
        width: 240px;
        height: 50px;
        font-size: 18px;
      }
    }
  }
  img.logo {
    display: none;
  }
  p.footer_p {
    margin: 10px;
    padding: 0;
  }
}





@media (min-width: 375px) and (max-width: 950px){ 
  footer.footer_bg {
    div.footer {
      display: none;
    }
    img.logo {
      margin: 0 auto;
      width: 160px;
      display: block;
    }
    p {
      margin: 0;
      padding: 0;
      line-height: 30px;
    }
  }   
} 