@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700,900|Noto+Serif+TC&display=swap&subset=chinese-traditional');


$maxWidth: 1280;
$minWidth: 950;
$phonemaxWidth: 949;
$phoneminWidth: 375;

$regularSize: 16;

$font_family: Arial, 'Noto Sans TC','Noto Serif TC';
